/**
 * Variables
 * ----------------------------------------------------------------------------
 */

/* Colors */
$alabaster: #fafafa;
$gallery: #ededed;
$gray: #818181;
$mine-shaft: #2d2e2e;
$picton-blue: #5da8ff;
$silver: #c6c6c6;
$white: #ffffff;






